In [1]:
import pandas as pd

In [7]:
df = pd.read_csv(filepath_or_buffer='./data/data.csv')

In [8]:
df

,brand,name,old_price_reais,old_price_centavos,new_price_reais,new_price_centavos,reviews_rating_number,reviews_amount
0,MIZUNO,Tênis Mizuno Original Cool Ride 2 Preto/branco,378.000,83.0,328.0,88.0,4.5,(2)
1,REEBOK,Reebok Zig Dynamica 4 Masculino Adultos,1.099,64.0,106.0,NaN,4.5,(2)
2,NIKE,Nike Court Vision Low Next Nature Masculino Ad...,479.000,99.0,48.0,NaN,4.5,(2)
3,OLYMPIKUS,Olympikus Treino Dynamic Masculino Adultos,279.000,99.0,194.0,99.0,4.5,(2)
4,OLYMPIKUS,Olympikus Treino Volcan Masculino Adultos,199.000,99.0,138.0,99.0,4.5,(2)
...,...,...,...,...,...,...,...,...
805,OLYMPIKUS,Tênis Olympikus Challenger 4 Preto,239.000,90.0,34.0,27.0,4.6,(300)
806,POLO BLU,Tênis Masculino Casual Polo Blu Kit Com Cartei...,99.000,90.0,33.0,30.0,4.6,(300)
807,ADRUN,Tênis Esportivo Masculino Adrun Flex Moove 970...,149.000,90.0,37.0,48.0,4.6,(300)
808,NaN,Tênis Masculino Para Caminhada Corrida Academi...,58.000,90.0,5.0,73.0,4.6,(300)
809,MIZUNO,Tênis De Corrida Masculino Mizuno Victory Rsp ...,349.000,90.0,297.0,41.0,4.6,(300)